body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    border-top: 4px solid #295093;
    padding-top: 40px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
}

.header-top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.Namanganliklar24 {
    background-color: #FFFFFF;
    padding: 4px 8px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
}

.currency-news {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 17px;
}

.currency-news-uzb {
    margin-right: 25px;
}

.icons {
    color: #285193;
}

.amount-of-money {
    color: grey;
}

.header-top-button {
    margin-left: auto;
    display: flex;
}

.button-lupa {
    padding: 8px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-right: 22px;
    transition: all ease 0.5s;
}

.button-lupa:hover {
    background: transparent;
    border: 1px solid black;
    background: #FFFFFF;
    border-radius: 5px;
}

.flag-ru {
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    align-items: center;
    display: flex;
    border: none;
    margin-right: 24px;
    transition: all ease 0.5s;
}

.flag-ru:hover {
    transition: transparent;
    background: #FFFFFF;
    border-radius: 5px;
}


.flag-ru-img {
    border-radius: 18px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.flag-ru-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
}

.telegram-messenger {
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all ease 0.5s;
}

.telegram-messenger:active {
    background: transparent;
    background: #37AEE2;
    border-radius: 5px;
}

.telegram-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.telegram-img {
    margin-right: 7px;
}

.header-down {

}

.header-news {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
    justify-content: space-between;
    padding: 21px 24px;
    align-items: center;
    margin-bottom: 20px;
}

.type-of-news {
    list-style: none;
    transition: ease 0.3s;
}

.news-about {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #535353;
}

.news-about:hover {
    color: #295093;
}

.banner-img {
    margin-bottom: 22px;
}


.fade-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(68, 81, 102, 0.24);
}
.hidden {
    display: none;
}
.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
    border-radius: 5px;
    padding-bottom: 32px;
}
.multiplication-x__img {
    margin-left: 788px;
    padding-top: 15px;
    margin-right: 15px;
    margin-bottom: 17px;
    cursor: pointer;
}
.card-body {
}
.card-body__text {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #295093;
    margin-bottom: 30px;
}
.btn {
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.btn:active {
    background: transparent;
    background: #37AEE2;
    border-radius: 5px;
    border: 1px solid #000000;
}
.btn-dark {
}
.telegram__text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.telegram-img {
    margin-right: 10px;
}

.section1 {
    
}

.section1-top {
    background: #F6F6F9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 55px 40px 35px;
    margin-bottom: 18px;
} 

.covid-19 {
    display: flex;
    align-items: center;
}

.covid-19-text {
    float: right;
    margin-left: 25px;
}

.infected-text {
    float: right;
    margin-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #DB0000;
}

.recoveries-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #05B135;
    margin-left: 20px;
}

.dead-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 19px;
}

.band {
    margin-right: 30px;
}

.number {
    color: black;
}

.section1-bottom {
   
}

.news-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-card {
    width: 32%;
}

.news-card-img {
    width: 100%;
    height: 190px;
    object-fit: contain;
    margin-bottom: 11px;
}

.img {
    margin-right: 20px;
    margin-bottom: 11px;
}

.news-bottom {
    display: flex;
}

.news-card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 11px;
}

.news-card-data {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
    margin-bottom: 18px;
}   

.news-card-data-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
    margin-bottom: 38px;
}

.section1-notifications {
    display: flex;
    align-items: center;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
    padding: 25px 20px 24px 35px;
    margin-bottom: 38px;
}

.notificetins-img {
    margin-right: 18px;
}

.notificetins-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.notofications-click {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    padding: 8px 8px 8px 15px;
    margin-left: auto;
    transition: all ease 0.5s;
}

.notofications-click:active {
    background: orangered;
    color: #ffffff;
    border: 1px solid orangered;
    border-radius: 5px;
}

.section2 {
    
}

.main-news {
    display: flex;
}

.section2-left {
    width: 69%;
}

.news-card-horizontal-more-info {
    display: flex;
}

.news-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 13px;
}

.news-card-horizontal {
    display: flex;
    align-items: flex-start;
}

.news-card-horizontal-img {
    margin-bottom: 18px;
}

.news-card-horizontal-addition {
    margin-left: 20px;
}

 .news-card-horizontal-headings {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 8px;
 }

 .news-card-horizontal-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    margin-bottom: 12px;
 }

 .data-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
 }

 .news-card-horizontal-data {
    display: flex;
}

.more-news {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

 .click-here {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #295093;
    border-radius: 5px;
    padding: 10px 32px;
    margin-bottom: 38px;
    transition: all ease 0.5s ;
}

.click-here:active {
    color: #FFFFFF;
    border: 3px solid #37AEE2;
    border-radius: 5px;
    background-color: #1E96C8;
}

.section2-right {
    width: 34%;
}

.popular-news-banner {
    width: 386px;
}

.popular-news {
    background: #F6F6F9;
    border-radius: 5px;
    padding: 17px 20px;
    margin-bottom: 20px;
}

.popular-news-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
    margin-bottom: 6px;
}

.popular-news-list {
    list-style: none;
}

.popular-news-title {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.popular-news-link {
    text-decoration: none;
    color: #202020;
}

.popular-news-date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}

.popular-news-item:not(:last-child) {
    padding-bottom: 14px;
    border-bottom: 4px solid #E4E4E4;
    margin-bottom: 18px;
}

.ucell-banner-img {
    border-radius: 5px;
}

.installation {
    background: #F6F6F9;
    border-radius: 5px;
    height: 214px;
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.phone-img {
    margin-left: 10px;
}

.installation-type {
    margin-right: 63px;
}

.installation-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
    margin-bottom: 10px;
}

.installation-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.googleplay {
    margin-right: 20px;
}

.section-contant {
}
.section-contact__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.section-contact__inner {
    
}
.contact__form {
    
}
.form {
}
.form__input {
    display: flex;
}
.button {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #295093;
    border: 2px solid rgba(40, 81, 147, 0.54);
    box-sizing: border-box;
    border-radius: 5px;
}
.contact__links {
}
.contact__links-block {
}
.contact-links__title {
}
.contact-links__info {
}
.contact-links__info-text {
}
.contact-links__info-link {
}
.contact__media-img {
}
.contact-links__info-img {
}

.footer {
    background: #295093;
    padding: 18px;
}

.footer-top {
    display: flex;
    align-items: center;
}

.footer-link {
    margin-right: auto;
    background: #133C82;
    border-radius: 5px;
    padding: 12px 12px 6px 9px;
}

.footer-text-top {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 17px;
}

.telegram-messenger-footer {
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 9px;
}

.telegram-text-blue {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    margin-right: 5px;
    transition: all ease 0.5s;
}

.footer-bottom {
    display: flex;
    align-items: center;
}

.about-site {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.footer-bottom-heading {
    margin-bottom: 15px;
}

.footer-bottom-text {
    margin-bottom: 13px;
}

.footer-links {
    display: flex;
}

.other-links {
    margin-left: 111px;
}

.list-of-links {
    list-style: none;
    margin-bottom: 10px;
}

.links-type {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: inline-block;
}

.other-links2 { 
    margin-left: 115px;
}

.list-of-links2 {
    list-style: none;
    margin-bottom: 10px;
}

.links-type2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: inline-block;
}

.footer-line {
    margin-bottom: 12px;
}

.footer-line-img {
    height: 3px;
}

